[build]
builder = "nixpacks"

[build.nixpacks]
buildCmd = "npm ci && npm run build && npx prisma migrate deploy"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
