[build]
builder = "nixpacks"

[build.nixpacks]
buildCmd = "npm install && npm run build && npx prisma db push"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
